@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/*nav style*/

.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    background: crimson;
    font-family: 'Ubuntu' sans-serif;
    transition: all .3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: rgb(250, 244, 245);
    transition: all .3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color .3s ease;
}
.navbar .menu li a:hover{
    color: black;
}
.navbar.sticky .menu  li a:hover{
    color: #fff;
}

/*Welcome style*/
.welcome
{
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}
.container
{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 403px;
    background: #ff0;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox
{
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img
{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgBox img
{
    transform: scale(1.2);
}

.container .box .details
{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details
{
    transform: scaleY(1);
}
.container .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}
.container .box .details .content h2
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff0;
}
.container .box .details .content p
{
    margin: 10px 0 0;
    padding: 0;
}